body {
    font-family: fantasy;
  }
  
  .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .list-group-item small {
    color: #6c757d;
    font-size: 0.9em;
  }
  
  .done {
    text-decoration: line-through;
    opacity: 0.7;
  }
  